* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.big {
    font-size: 2rem;
    font-weight: 600;
}

.small {
    font-size: smaller;
}

.weather-main {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;    
    gap: 1rem;
}

input {
    border: none;
    border-bottom: 2px solid rgb(88, 86, 86);
    background-color: transparent;
    width: 10rem;
}

form {
    max-width: 80%;
}

.icon {
    height: 1rem;
}

.icon-large {
    height: 2rem
}

button {
    background-color: transparent;
    border-style: none;
}

.block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    margin-top: 30%;
}