* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.big {
    font-size: 2rem;
    font-weight: 600;
}

.small {
    font-size: smaller;
}

.weather-main {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;    
    gap: 1rem;
}

input {
    border: none;
    border-bottom: 2px solid rgb(88, 86, 86);
    background-color: transparent;
    width: 10rem;
}

form {
    min-width: 13rem;
    max-width: 100%;
}

.icon {
    height: 1rem;
}

.icon-large {
    height: 2rem
}

button {
    background-color: transparent;
    border-style: none;
}

.block {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
}

.today {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 10vh;
}

.error {
    color: rgb(187, 110, 110);
    font-style: italic;
    font-size: small;
    margin-top: 0.5rem;
}

/*Weekly Forecast*/
.week-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.day {
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.week {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 700px) {
    .day {
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;
        width: auto;
    }
    .week {
        gap: 0.5rem;
    }
}